<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lieying.dao.ResumeMapper">


    <select id="selectResumeById" resultMap="resumeResultMap" parameterType="int">
        select * from resume where resume_id = #{id} limit 1
    </select>
    <select id="selectAllResumesByJobHunterId" resultMap="resumeResultMap" parameterType="int">
        select * from resume where job_hunter_id = #{job_hunter_id}
    </select>
    <resultMap id="resumeResultMap" type="Resume">
        <id property="id" column="resume_id"/>
        <result property="name" column="resume_name"/>
        <result property="education" column="resume_education"/>
        <result property="age" column="resume_age"/>
        <result property="advantage" column="resume_advantage"/>
        <result property="expectedCity" column="resume_expected_city"/>
        <result property="expectedPosition" column="resume_expected_position"/>
        <result property="workAddress" column="resume_work_address"/>
        <result property="expectedSalary" column="resume_expected_salary"/>
        <result property="workExperience" column="resume_work_experience"/>
        <result property="projectExperience" column="resume_project_experience"/>
        <result property="socialHomepage" column="resume_social_homepage"/>
        <result property="volunteerServiceExperience" column="resume_volunteer_service_experience"/>
        <result property="enclosure" column="resume_enclosure"/>
        <result property="rejectReason" column="resume_reject_reason"/>
        <result property="deliveredTime" column="resume_delivered_time"/>
        <result property="state" column="resume_state"/>
        <collection property="credentials" column="resume_id" select="org.lieying.dao.CredentialMapper.selectCredentialsByResumeId"/>
        <collection property="educationExperiences" column="resume_id" select="org.lieying.dao.EducationExperienceMapper.selectEducationExperiencesByResumeId"/>
<!--        @ManyToOne(targetEntity=JobHunter.class)-->
<!--        @JoinColumn(name="job_hunter_id")-->
<!--        private JobHunter jobHunter;-->
<!--        @ManyToOne(targetEntity=Position.class)-->
<!--        @JoinColumn(name="position_id")-->
<!--        private Position position;-->
    </resultMap>
</mapper>
